---

import Counter from "./Counter.astro";---
<section class="section">
    <div class="container-section-1 container">
        <ul class="table-section-1">
            <li class="table-section-item table-section-item-1">
                <div class="table-section-item-content table-section-item-content-1">
                    <div class="table-section-item-title text-container">
                        <p class="table-section-item-content-title-1">Your Journey to Tomorrow Begins Here</p>
                        <p class="table-section-item-content-title-2">Explore the Frontiers of Artificial
                            Intelligence</p>
                        <p class="table-section-item-content-title-3">Welcome to the epicenter of AI innovation.
                            FutureTech AI News is your passport to a world where machines
                            think, learn, and reshape the future. Join us on this visionary expedition into the heart of
                            AI.</p>
                    </div>
                </div>
                <Counter/>
            </li>
            <li class="table-section-item table-section-item-2">
                <div class="table-section-items">
                    <div class="table-section-item table-section-item-img">
                        <div class="table-section-item-img-back">
                            <img src="/images/team/1.png" height="60" width="60" alt="team" class="table-section-item-images-1">
                            <img src="/images/team/2.png" height="60" width="60" alt="team" class="table-section-item-images-2">
                            <img src="/images/team/3.png" height="60" width="60" alt="team" class="table-section-item-images-3">
                            <img src="/images/team/4.png" height="60" width="60" alt="team" class="table-section-item-images-4">
                        </div>
                    </div>
                    <div class="table-section-item table-section-item-text">
                        <p class="table-section-item-content-title-2">Explore 1000+ resources</p>
                        <p class="table-section-item-content-title-3">Over 1,000 articles on emerging tech trends and
                            breakthroughs.</p>
                        <a href="#">Explore Resources
                            <svg width="16.5" height="16.5" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 4.25L20 4.25C20.1989 4.25 20.3897 4.32902 20.5303 4.46967C20.671 4.61032 20.75 4.80109 20.75 5V16.25C20.75 16.6642 20.4142 17 20 17C19.5858 17 19.25 16.6642 19.25 16.25V6.81066L5.53033 20.5303C5.23744 20.8232 4.76256 20.8232 4.46967 20.5303C4.17678 20.2374 4.17678 19.7626 4.46967 19.4697L18.1893 5.75L8.75 5.75C8.33579 5.75 8 5.41421 8 5C8 4.58579 8.33579 4.25 8.75 4.25Z" fill="#FFD11A"></path>
                            </svg>
                        </a>
                    </div>
                </div>

            </li>
        </ul>
        <ul class="table-section-2">
            <li class="table-section-2-item">
                <div class="table-section-2-content">
                    <div class="table-section-2-items-text">
                        <img src="/images/advantages/icon-1.svg" width="50px" height="50px" alt="icon" class="table-section-2-items-img">
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-1">Latest News
                            Updates</p>
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-2">Stay
                            Current</p>
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-3">Over 1,000
                            articles published monthly</p>
                        <a href="#" class="table-section-2-items-img table-section-2-items-text-element-4"><img src="/images/about/Button.png" alt="button" height="52" width="52"></a>
                    </div>

                </div>
            </li>
            <li class="table-section-2-item">
                <div class="table-section-2-content">
                    <div class="table-section-2-items-text">
                        <img src="/images/advantages/icon-2.svg" width="50px" height="50px" alt="icon" class="table-section-2-items-img">
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-1">Expert
                            Contributors</p>
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-2">Trusted
                            Insights</p>
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-3">50+ renowned
                            AI experts on our team</p>
                        <a href="#" class="table-section-2-items-img table-section-2-items-text-element-4"><img src="/images/about/Button.png" alt="button" height="52" width="52"></a>
                    </div>

                </div>
            </li>
            <li class="table-section-2-item">
                <div class="table-section-2-content">
                    <div class="table-section-2-items-text">
                        <img src="/images/advantages/icon-3.svg" width="50px" height="50px" alt="icon" class="table-section-2-items-img">
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-1">Global
                            Readership</p>
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-2">Worldwide
                            Impact</p>
                        <p class="table-section-2-items-text-element table-section-2-items-text-element-3">2 million
                            monthly readers</p>
                        <a href="#" class="table-section-2-items-img table-section-2-items-text-element-4"><img src="/images/about/Button.png" alt="button" height="52" width="52"></a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>