---

import CounterV2 from "./CounterV2.astro";
---
<section class="section">
    <div class="container-section-1 container-section-1__modification container">
        <ul class="table-section-1 table-section-1__modification">
            <li class="table-section-item table-section-item__modification table-section-item-1">
                <CounterV2/>
            </li>
        </ul>
    </div>
</section>
