---

---
<div class="content-section-2-items">
    <div class="content-section-2-item-container container content-section-2-item-container-modification">
        <div class="content-section-2-item-content-header content-section-2-item-content-header-modification">

            <div class="content-section-2-item-content-header-logo-left-container">
                <img class="content-section-2-item-content-header-logo-left" src="/images/podcasts/Group.png" alt="logo">
            </div>
            <div class="content-section-2-item-content-header-group-star">
                <p class="content-section-2-item-content-header-text-heavy">
                    AI Revolution
                </p>
                <div class="review-stars review-stars-modification">
                    <button class="review-star" data-value="1">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="2">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="3">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="4">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="5">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="content-section-2-item-content-header-link-text-group">
                <div class="content-section-2-item-content-header-text-group">
                    <p class="content-section-2-item-content-header-text">Host</p>
                    <p class="content-section-2-item-content-header-text-heavy">Dr. Sarah Mitchell</p>
                </div>
                <a href="#" class="section-1-content-link">Listen Podcast
                    <svg width="16.5" height="16.5" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8.75 4.25L20 4.25C20.1989 4.25 20.3897 4.32902 20.5303 4.46967C20.671 4.61032 20.75 4.80109 20.75 5V16.25C20.75 16.6642 20.4142 17 20 17C19.5858 17 19.25 16.6642 19.25 16.25V6.81066L5.53033 20.5303C5.23744 20.8232 4.76256 20.8232 4.46967 20.5303C4.17678 20.2374 4.17678 19.7626 4.46967 19.4697L18.1893 5.75L8.75 5.75C8.33579 5.75 8 5.41421 8 5C8 4.58579 8.33579 4.25 8.75 4.25Z"
                              fill="#FFD11A"></path>
                    </svg>
                </a>
            </div>


        </div>
        <div class="content-section-2-item-content content-section-2-item-content-modification">
            <div class="content-section-2-item-content-block">
                <div class="content-section-2-item-content-image content-section-2-item-content-image-modification">
                    <button class="container-grid-video-card-top-button" type="button">
                        <svg class="container-grid-video-card-top-button-svg" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.4375 0C44.1431 0 56.875 12.7319 56.875 28.4375C56.875 44.1431 44.1431 56.875 28.4375 56.875C12.7319 56.875 0 44.1431 0 28.4375C0 12.7319 12.7319 0 28.4375 0ZM24.8057 16.0537C22.2853 14.6535 19.1875 16.4762 19.1875 19.3594V37.5166C19.1877 40.3996 22.2854 42.2224 24.8057 40.8223L41.1465 31.7432C43.7395 30.3025 43.7394 26.5736 41.1465 25.1328L24.8057 16.0537Z"
                                  fill="white"/>
                        </svg>
                    </button>
                </div>
                <p class="content-section-2-item-content-block-text-top-heavy">
                    Delves into the transformative impact of AI
                </p>
                <p class="content-section-2-item-content-block-text-bottom-normal">
                    Join Dr. Sarah Mitchell as she delves into the transformative impact of AI on industries, featuring
                    expert interviews and real-world case studies. Explore the possibilities of AI in healthcare,
                    finance, and more.
                </p>
                <div class="content-section-2-item-content-group-attribute-container">
                    <div class="content-section-2-item-content-group-atribut">
                        <p class="content-section-2-item-content-block-text-top-normal">
                            Total Episodes
                        </p>
                        <p class="content-section-2-item-content-block-text-bottom-heavy">
                            50
                        </p>
                    </div>
                    <div class="content-section-2-item-content-group-atribut">
                        <p class="content-section-2-item-content-block-text-top-normal">
                            Average Episode Length
                        </p>
                        <p class="content-section-2-item-content-block-text-bottom-heavy">
                            30 min
                        </p>
                    </div>
                    <div class="content-section-2-item-content-group-atribut">
                        <p class="content-section-2-item-content-block-text-top-normal">
                            Release Frequency
                        </p>
                        <p class="content-section-2-item-content-block-text-bottom-heavy">
                            Weekly
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="content-section-2-item-container container content-section-2-item-container-modification">
        <div class="content-section-2-item-content-header content-section-2-item-content-header-modification">

            <div class="content-section-2-item-content-header-logo-left-container">
                <img class="content-section-2-item-content-header-logo-left" src="/public/images/podcasts/Group2.png" alt="logo">
            </div>
            <div class="content-section-2-item-content-header-group-star">
                <p class="content-section-2-item-content-header-text-heavy">
                    AI Conversations
                </p>
                <div class="review-stars review-stars-modification">
                    <button class="review-star" data-value="1">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="2">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="3">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="4">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                    <button class="review-star" data-value="5">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.2749 1.9429C9.04759 0.62493 10.9529 0.624932 11.7256 1.9429L13.4514 4.88664C13.7334 5.36761 14.2034 5.70904 14.7479 5.8286L18.0809 6.5603C19.5731 6.8879 20.1619 8.69996 19.1472 9.8421L16.8809 12.3931C16.5106 12.8099 16.3311 13.3624 16.3857 13.9173L16.7197 17.3132C16.8693 18.8337 15.3278 19.9536 13.928 19.3415L10.8015 17.9744C10.2907 17.751 9.7098 17.751 9.19897 17.9744L6.07244 19.3415C4.67264 19.9536 3.13122 18.8337 3.28078 17.3132L3.61483 13.9173C3.66941 13.3624 3.48991 12.8099 3.11962 12.3931L0.853266 9.8421C-0.16142 8.69995 0.427356 6.8879 1.91959 6.5603L5.25257 5.8286C5.79713 5.70904 6.26708 5.36761 6.54906 4.88664L8.2749 1.9429Z"
                                  fill="#FFCE22"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="content-section-2-item-content-header-link-text-group">
                <div class="content-section-2-item-content-header-text-group">
                    <p class="content-section-2-item-content-header-text">Host</p>
                    <p class="content-section-2-item-content-header-text-heavy">Mark Anderson</p>
                </div>
                <a href="#" class="section-1-content-link">Listen Podcast
                    <svg width="16.5" height="16.5" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8.75 4.25L20 4.25C20.1989 4.25 20.3897 4.32902 20.5303 4.46967C20.671 4.61032 20.75 4.80109 20.75 5V16.25C20.75 16.6642 20.4142 17 20 17C19.5858 17 19.25 16.6642 19.25 16.25V6.81066L5.53033 20.5303C5.23744 20.8232 4.76256 20.8232 4.46967 20.5303C4.17678 20.2374 4.17678 19.7626 4.46967 19.4697L18.1893 5.75L8.75 5.75C8.33579 5.75 8 5.41421 8 5C8 4.58579 8.33579 4.25 8.75 4.25Z"
                              fill="#FFD11A"></path>
                    </svg>
                </a>
            </div>


        </div>
        <div class="content-section-2-item-content content-section-2-item-content-modification">
            <div class="content-section-2-item-content-block">
                <div class="content-section-2-item-content-image content-section-2-item-content-image-modification content-section-2-item-content-image-v2">
                    <button class="container-grid-video-card-top-button" type="button">
                        <svg class="container-grid-video-card-top-button-svg" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28.4375 0C44.1431 0 56.875 12.7319 56.875 28.4375C56.875 44.1431 44.1431 56.875 28.4375 56.875C12.7319 56.875 0 44.1431 0 28.4375C0 12.7319 12.7319 0 28.4375 0ZM24.8057 16.0537C22.2853 14.6535 19.1875 16.4762 19.1875 19.3594V37.5166C19.1877 40.3996 22.2854 42.2224 24.8057 40.8223L41.1465 31.7432C43.7395 30.3025 43.7394 26.5736 41.1465 25.1328L24.8057 16.0537Z"
                                  fill="white"/>
                        </svg>
                    </button>
                </div>
                <p class="content-section-2-item-content-block-text-top-heavy">
                    Engage in thought-provoking conversations with leading experts.
                </p>
                <p class="content-section-2-item-content-block-text-bottom-normal">
                    Mark discusses the future of AI, the impact on society, and how it's shaping industries worldwide. Engage in thought-provoking conversations with leading experts.
                </p>
                <div class="content-section-2-item-content-group-attribute-container">
                    <div class="content-section-2-item-content-group-atribut">
                        <p class="content-section-2-item-content-block-text-top-normal">
                            Total Episodes
                        </p>
                        <p class="content-section-2-item-content-block-text-bottom-heavy">
                            40
                        </p>
                    </div>
                    <div class="content-section-2-item-content-group-atribut">
                        <p class="content-section-2-item-content-block-text-top-normal">
                            Average Episode Length
                        </p>
                        <p class="content-section-2-item-content-block-text-bottom-heavy">
                            40 min
                        </p>
                    </div>
                    <div class="content-section-2-item-content-group-atribut">
                        <p class="content-section-2-item-content-block-text-top-normal">
                            Release Frequency
                        </p>
                        <p class="content-section-2-item-content-block-text-bottom-heavy">
                            Monthly
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>