---
import Layout from '../layouts/Layout.astro';
import SectionView from "../components/SectionView.astro";
import HeroSection from "../components/HeroSection.astro";
import BlogSection from "../components/BlogSection.astro";
import TabsSection from "../components/TabsSection.astro";
import CommentsSection from "../components/CommentsSection.astro";
import ConnectSections from "../components/ConnectSections.astro";

---

<Layout title="home-page">
	<h1>home-page</h1>
    <HeroSection/>
    <SectionView heading=" Unlock the Power of" description="FutureTech Features" link="Read FutureTech Blogs" path="/news"/>
    <BlogSection/>
    <SectionView heading="A Knowledge Treasure Trove" description="Explore FutureTech's In-Depth Blog Posts" link="View All Blogs" path="/podcast"/>
    <TabsSection text1="All" text2="Quantum Computing" text3="AI Ethics" text4="Space Exploration" text5="Biotechnology" text6="Renewable Energy"/>
    <SectionView heading="Your Gateway to In-Depth Information" description="Unlock Valuable Knowledge with FutureTech's Resources" link="View All Blogs" path="/blog"/>
    <BlogSection/>
    <SectionView heading="What Our Readers Say" description="Real Words from Real Readers" link="View All Testimonials" path="/resources"/>
    <CommentsSection/>
    <ConnectSections/>

</Layout>
