---
const heading = Astro.props.heading;
const description = Astro.props.description;

---

<div class="container-section-1 ">
    <div class="section-1-content">
        <div class="section-1-content-text container">
            <header class="section-1-content-text-header">
                <p class="section-1-content-subcontainer">
                    {heading}
                </p>
                <p class="section-1-content-heading">
                    {description}
                </p>
            </header>
            <div class="section-1-content-container-links">
                <button class="section-1-content-container-link active" data-tab="white">
                    White papers
                </button>
                <button class="section-1-content-container-link" data-tab="ebooks">
                    Ebooks
                </button>
                <button class="section-1-content-container-link" data-tab="reports">
                    Reports
                </button>
            </div>
        </div>
    </div>
    <div class="tabs-content">

        <div class="tab-content-view active" data-tab-content="white">

            <div class="content-section-2-items">
                <div class="content-section-2-item-container container content-section-2-item-container-modification">
                    <div class="content-section-2-item-content-header content-section-2-item-content-header-modification">

                        <div class="content-section-2-item-content-header-logo-left-container">
                            <img class="content-section-2-item-content-header-logo-left"
                                 src="/images/resources/Icon.png" alt="logo">
                        </div>
                        <div class="content-section-2-item-content-header-group-star">
                            <p class="content-section-2-item-content-header-text-heavy">
                                Quantum Computing Whitepaper
                            </p>

                        </div>
                        <p class="content-section-2-item-content-header-text-normal">Provides technical specifications
                            and requirements for implementing quantum computing systems.</p>


                    </div>
                    <div class="content-section-2-item-content content-section-2-item-content-modification">
                        <div class="content-section-2-item-content-block">
                            <div class="content-section-2-item-content-image">
                                <img src="/images/reports/details-1.jpg" alt="img-banner">
                            </div>
                            <p class="content-section-2-item-content-block-text-top-heavy">
                                Quantum Computing Whitepaper
                            </p>
                            <div class="content-section-2-item-content-block-group-link-text">
                                <p class="content-section-2-item-content-block-text-bottom-normal">
                                    An in-depth whitepaper exploring the principles, applications, and potential impact
                                    of quantum computing.
                                </p>
                                <a href="/resources" class="section-1-content-link section-1-content-link__modification">Download
                                    PDF Now
                                    <svg width="16.5" height="16.5" viewBox="0 0 25 25"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8.75 4.25L20 4.25C20.1989 4.25 20.3897 4.32902 20.5303 4.46967C20.671 4.61032 20.75 4.80109 20.75 5V16.25C20.75 16.6642 20.4142 17 20 17C19.5858 17 19.25 16.6642 19.25 16.25V6.81066L5.53033 20.5303C5.23744 20.8232 4.76256 20.8232 4.46967 20.5303C4.17678 20.2374 4.17678 19.7626 4.46967 19.4697L18.1893 5.75L8.75 5.75C8.33579 5.75 8 5.41421 8 5C8 4.58579 8.33579 4.25 8.75 4.25Z"
                                              fill="#FFD11A"></path>
                                    </svg>
                                </a>
                            </div>

                            <div class="content-section-2-item-content-group-attribute-container">
                                <div class="content-section-2-item-content-group-atribut">
                                    <p class="content-section-2-item-content-block-text-top-normal">
                                        Publication Date
                                    </p>
                                    <p class="content-section-2-item-content-block-text-bottom-heavy">
                                        July 2023
                                    </p>
                                </div>
                                <div class="content-section-2-item-content-group-atribut">
                                    <p class="content-section-2-item-content-block-text-top-normal">
                                        Category
                                    </p>
                                    <p class="content-section-2-item-content-block-text-bottom-heavy">
                                        Quantum Computing
                                    </p>
                                </div>
                                <div class="content-section-2-item-content-group-atribut">
                                    <p class="content-section-2-item-content-block-text-top-normal">
                                        Author
                                    </p>
                                    <p class="content-section-2-item-content-block-text-bottom-heavy">
                                        Dr. Quantum
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="content-section-2-item-container container content-section-2-item-container-modification">
                    <div class="content-section-2-item-content-header content-section-2-item-content-header-modification">

                        <div class="content-section-2-item-content-header-logo-left-container">
                            <img class="content-section-2-item-content-header-logo-left"
                                 src="/images/resources/Group%20236.png" alt="logo">
                        </div>
                        <div class="content-section-2-item-content-header-group-star">
                            <p class="content-section-2-item-content-header-text-heavy">
                                Space Exploration Whitepaper
                            </p>

                        </div>
                        <p class="content-section-2-item-content-header-text-normal">Explores Mars colonization,
                            asteroid resource potential, and space tourism.</p>


                    </div>
                    <div class="content-section-2-item-content content-section-2-item-content-modification">
                        <div class="content-section-2-item-content-block">
                            <div class="content-section-2-item-content-image">
                                <img src="/images/reports/details-2.jpg" alt="img-banner">
                            </div>
                            <p class="content-section-2-item-content-block-text-top-heavy">
                                Space Exploration Whitepaper
                            </p>
                            <div class="content-section-2-item-content-block-group-link-text">
                                <p class="content-section-2-item-content-block-text-bottom-normal">
                                    An in-depth whitepaper covering the latest advancements in space exploration,
                                    including Mars missions and asteroid mining.
                                </p>
                                <a href="/resources" class="section-1-content-link section-1-content-link__modification">Download
                                    PDF Now
                                    <svg width="16.5" height="16.5" viewBox="0 0 25 25"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8.75 4.25L20 4.25C20.1989 4.25 20.3897 4.32902 20.5303 4.46967C20.671 4.61032 20.75 4.80109 20.75 5V16.25C20.75 16.6642 20.4142 17 20 17C19.5858 17 19.25 16.6642 19.25 16.25V6.81066L5.53033 20.5303C5.23744 20.8232 4.76256 20.8232 4.46967 20.5303C4.17678 20.2374 4.17678 19.7626 4.46967 19.4697L18.1893 5.75L8.75 5.75C8.33579 5.75 8 5.41421 8 5C8 4.58579 8.33579 4.25 8.75 4.25Z"
                                              fill="#FFD11A"></path>
                                    </svg>
                                </a>
                            </div>

                            <div class="content-section-2-item-content-group-attribute-container">
                                <div class="content-section-2-item-content-group-atribut">
                                    <p class="content-section-2-item-content-block-text-top-normal">
                                        Publication Date
                                    </p>
                                    <p class="content-section-2-item-content-block-text-bottom-heavy">
                                        September 2023
                                    </p>
                                </div>
                                <div class="content-section-2-item-content-group-atribut">
                                    <p class="content-section-2-item-content-block-text-top-normal">
                                        Category
                                    </p>
                                    <p class="content-section-2-item-content-block-text-bottom-heavy">
                                        Space Exploration
                                    </p>
                                </div>
                                <div class="content-section-2-item-content-group-atribut">
                                    <p class="content-section-2-item-content-block-text-top-normal">
                                        Author
                                    </p>
                                    <p class="content-section-2-item-content-block-text-bottom-heavy">
                                        FutureTech Space Division
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="downloads-section-group container">
                <div class="downloads-section-container">
                    <div class="downloads-section-item-img">
                        <img src="/images/reports/card-1.jpg" alt="img-banner">
                    </div>
                    <div class="downloads-section-item-text-heavy">FutureTech Trends 2024</div>
                    <div class="downloads-section-item-text-normal">An ebook that predicts upcoming technology trends for the next year, including AI developments</div>
                    <div class="downloads-section-item-links">
                        <a href="/resources" class="section-1-content-link section-1-content-link__modification section-1-content-link__modification-color">
                            View Details
                        </a>
                        <a href="/resources" class="section-1-content-link section-1-content-link__modification">
                            Download PDF Now
                        </a>
                    </div>
                </div>
                <div class="downloads-section-container">
                    <div class="downloads-section-item-img">
                        <img src="/images/reports/card-2.jpg" alt="img-banner">
                    </div>
                    <div class="downloads-section-item-text-heavy">
                        Space Exploration Ebook
                    </div>
                    <div class="downloads-section-item-text-normal">
                        An ebook that predicts upcoming technology trends for the next year, including AI developments
                    </div>
                    <div class="downloads-section-item-links">
                        <a href="/resources" class="section-1-content-link section-1-content-link__modification section-1-content-link__modification-color">
                            View Details
                        </a>
                        <a href="/resources" class="section-1-content-link section-1-content-link__modification">
                            Download PDF Now
                        </a>
                    </div>
                </div>
                <div class="downloads-section-container downloads-section-container__modification">
                    <div class="downloads-section-item-img">
                        <img src="/images/reports/card-3.jpg" alt="img-banner">
                    </div>
                    <div class="downloads-section-item-text-heavy">
                        Quantum Computing Whitepaper
                    </div>
                    <div class="downloads-section-item-text-normal">
                        An in-depth whitepaper exploring the principles, applications.
                        including AI developments
                    </div>
                    <div class="downloads-section-item-links">
                        <a href="/resources" class="section-1-content-link section-1-content-link__modification section-1-content-link__modification-color">
                            View Details
                        </a>
                        <a href="/resources" class="section-1-content-link section-1-content-link__modification">
                            Download PDF Now
                        </a>
                    </div>
                </div>

            </div>

        </div>

        <div class="tab-content-view" data-tab-content="ebooks">

            <p>Ebooks content here</p>
        </div>

        <div class="tab-content-view" data-tab-content="reports">

            <p>Reports content here</p>
        </div>

    </div>


</div>
<script>
    const tabs = document.querySelectorAll<HTMLElement>('.section-1-content-container-link');
    const contents = document.querySelectorAll<HTMLElement>('.tab-content-view');

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const target = tab.dataset.tab;


            tabs.forEach(t => t.classList.remove('active'));
            tab.classList.add('active');

            contents.forEach(c => {
                c.classList.toggle(
                    'active',
                    c.dataset.tabContent === target
                );
            });
        });
    });
</script>
