
*,html,body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family),sans-serif;
    font-weight: 400;
    font-size: var(--space-18);
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: var(--grey-60);
    scroll-behavior: smooth;
}
.header-nav-list-item-action{
    border: none;
    outline: none;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

