:root {
    --primary-color:#141414;
    --primary-color-10: #1A1A1A;
    --secondary-color: rgb(152, 152, 154);
    --secondary-color-60: rgba(152, 152, 154, 0.6);
    --text-color: #7E7E81;
    --border-color:#333333;
    --white-color:#ffffff;
    --yellow-color:#FFD11A;

    --text-container:820px;
    --container:1800px;
    --space-0: 0;
    --space-1: 1px;
    --space-2: 2px;
    --space-3: 3px;
    --space-4: 4px;
    --space-5: 5px;
    --space-6: 6px;
    --space-7: 7px;
    --space-8: 8px;
    --space-9: 9px;
    --space-10: 10px;
    --space-11: 11px;
    --space-12: 12px;
    --space-13: 13px;
    --space-14: 14px;
    --space-15: 15px;
    --space-16: 16px;
    --space-17: 17px;
    --space-18: 18px;
    --space-19: 19px;
    --space-20: 20px;
    --space-21: 21px;
    --space-22: 22px;
    --space-23: 23px;
    --space-24: 24px;
    --space-25: 25px;
    --space-26: 26px;
    --space-27: 27px;
    --space-28: 28px;
    --space-29: 29px;
    --space-30: 30px;
    --space-31: 31px;
    --space-32: 32px;
    --space-33: 33px;
    --space-34: 34px;
    --space-35: 35px;
    --space-36: 36px;
    --space-37: 37px;
    --space-38: 38px;
    --space-39: 39px;
    --space-40: 40px;
    --space-41: 41px;
    --space-42: 42px;
    --space-43: 43px;
    --space-44: 44px;
    --space-45: 45px;
    --space-46: 46px;
    --space-47: 47px;
    --space-48: 48px;
    --space-49: 49px;
    --space-50: 50px;
    --space-51: 51px;
    --space-52: 52px;
    --space-53: 53px;
    --space-54: 54px;
    --space-55: 55px;
    --space-56: 56px;
    --space-57: 57px;
    --space-58: 58px;
    --space-59: 59px;
    --space-60: 60px;
    --space-61: 61px;
    --space-62: 62px;
    --space-63: 63px;
    --space-64: 64px;
    --space-65: 65px;
    --space-66: 66px;
    --space-67: 67px;
    --space-68: 68px;
    --space-69: 69px;
    --space-70: 70px;
    --space-71: 71px;
    --space-72: 72px;
    --space-73: 73px;
    --space-74: 74px;
    --space-75: 75px;
    --space-76: 76px;
    --space-77: 77px;
    --space-78: 78px;
    --space-79: 79px;
    --space-80: 80px;
    --space-120:120px;
    --space-150:150px;
    --space-162: 162px;
    --space-minus-14: -14px;
    --space-minus-29: -29px;
    --space-minus-44: -44px;








        --absolute-white: #fff;
        --absolute-black: #000;
        --yellow-55: #ffd11a;
        --yellow-60: #ffd633;
        --yellow-70: #ffe066;
        --yellow-80: #ffeb99;
        --yellow-90: #fff5cc;
        --yellow-95: #fffae5;
        --yellow-97: #fffcf0;
        --yellow-99: #fffefa;
        --dark-08: #141414;
        --dark-10: #1a1a1a;
        --dark-15: #262626;
        --dark-20: #333;
        --dark-25: #404040;
        --dark-30: #4d4d4d;
        --dark-35: #595959;
        --dark-40: #666;
        --grey-50: #7e7e81;
        --grey-60: #98989a;
        --grey-70: #b3b3b3;
        --grey-80: #ccc;
        --grey-90: #e4e4e7;
        --grey-95: #f1f1f3;
        --grey-97: #f7f7f8;
        --grey-99: #fcfcfd;

        --font-family: "Inter", sans-serif;
        --second-family: "Kumbh Sans", sans-serif;

}
@media (width <= 1440px) {
    :root {
        --container:1280px;
    }
}
@media (width <= 764px) {
    :root {
        --container:740px;
    }
}
.container{
    width: 100%;
    max-width: var(--container);
    padding-left: var(--space-16);
    padding-right: var(--space-16);
    margin: 0 auto;
}
.text-container{
    max-width: var(--text-container);
}